<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirmation d'adresse mail</title>
    <link th:href="@{http://localhost:8080/carpoolconnect-backend/src/main/resources/styles/button.css}"
          rel="stylesheet" type="text/css">
</head>
<body>
<p th:inline="text">Bonjour
    [[${firstName}]]
    , veuillez cliquer sur ce lien afin de réinitialiser votre mot de passe : <a th:href="@{'http://localhost:5173/password-renewal/' + ${key}}"> Récupérer mon mot de passe </a> </p>

<form method="post" th:action="@{'http://localhost:8080/api/password/' + ${email} + '/' + ${key}}" class="inline"
      id="form-activation">
    <input type="hidden" name="extra_submit_param">
    <button type="submit" name="submit_param" class="link-button">
        Cliquer ici
    </button>
</form>

</body>
</html>